<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechStore | Store</title>

    <link rel="stylesheet" href="../scss/main.css">
    <script src="https://kit.fontawesome.com/380f4ef113.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="header-navbar">
            <a class="header-navbar__logo" href="../index.html">TECH <i class="fa-brands fa-apple"></i> STORE</a>
            <ul class="header-navbar__menu">
                <li><a href="/views/store.html">TIENDA</a></li>
                <li><a href="#">NOTICIAS</a></li>
                <li><a href="#">NOSOTROS</a></li>
            </ul>
            <div class="header-navbar__login">
                <a href="../views/store.html"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <a href="../views/login.html"><i class="fa-solid fa-right-to-bracket fa-lg"></i></a>
            </div>
        </nav>
    </header>

    <main>


    </main>

    <footer>

    </footer>
</body>

</html>