.section-products {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        margin: 6.25rem 0 6.25rem 0;
        font: bold 1.4em $font-family;
        color: $color-bg-secondary;
        text-shadow: 0 0 .125rem $color-bg-secondary;
    }

    .products-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.125rem;

        opacity: 0;
        transform: translateY(10%);
        transition: opacity 1.1s ease-in-out, transform 1.1s ease-in-out;

        &__container {
            display: flex;
            align-items: center;

            background: #FFFFFF;
            border-radius: .625rem;
            text-shadow: 0 0 .125rem $color-bg-secondary;
            box-shadow: 0 .3125rem .9375rem 0 rgba(56, 56, 56, 0.37);

            #img-one {
                margin: 2.5rem 3rem 2.5rem 4rem;
                width: 12rem;
            }

            #img-two {
                margin: 2.5rem 3rem 2.5rem 3rem;
                width: 20rem;
            }

            #img-three {
                margin: 2.5rem 3rem 2.5rem 3rem;
                width: 13rem;
            }

            #img-four {
                margin: 2.5rem 0 2.5rem 4rem;
                width: 17rem;
            }

            .products-left {
                font-weight: bold;
                color: $color-bg-secondary;

                h3 {
                    font: bold 1.875em $font-family;
                    margin-bottom: 1.875rem;
                }
            }

            .products-right {
                font-weight: bold;
                color: $color-bg-secondary;
                margin-left: 3.125rem;

                h3 {
                    font: bold 1.875em $font-family;
                    margin-bottom: 1.875rem;
                }
            }

            .btn_info {
                background-color: $color-bg-secondary;
                box-shadow: 0 5px 15px 0 rgba(56, 56, 56, 0.37);
                color: $color-bg-primary;
                padding: 0.6rem 2rem;
                font: bold 14px $font-family;
                border-radius: 0.3rem;
                transition: 0.5s;

                &:hover {
                    background-color: #6a4bf1;
                }
            }
        }

    }

    .products-content.show {
        opacity: 1;
        transform: translateY(0);
    }

    .products-content.hide {
        opacity: 0;
        transform: translateY(10%);
    }

    .others-products {
        display: flex;
        align-items: center;

        width: 68.75rem;
        background: #FFFFFF;
        border-radius: .625rem;
        margin-top: 3.125rem;
        margin-bottom: 6.25rem;
        text-shadow: 0 0 .125rem $color-bg-secondary;
        box-shadow: 0 .3125rem .9375rem 0 rgba(56, 56, 56, 0.37);

        #img-five {
            margin: 2.5rem 3.125rem 2.5rem 4rem;
            width: 11rem;
        }

        #img-six {
            margin: 2.5rem 6.25rem 2.5rem 0;
            width: 17rem;
        }

        .product-five {
            font-weight: bold;
            color: $color-bg-secondary;
            margin-left: 5.625rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font: bold 1.875em $font-family;
                margin-bottom: 1.25rem;
                text-align: center;
            }
        }

        .btn_info {
            background-color: $color-bg-secondary;
            box-shadow: 0 5px 15px 0 rgba(56, 56, 56, 0.37);
            color: $color-bg-primary;
            padding: 0.6rem 2rem;
            font: bold .875em $font-family;
            border-radius: 0.3rem;
            transition: 0.5s;

            &:hover {
                background-color: #6a4bf1;
            }
        }
    }
}

.header-banner_store {
    img {
        width: 100%;
        object-fit: cover;
    }
}

#notification {
    position: fixed;
    top: 10px;
    right: 10px;
    font: bold .875em $font-family;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

#notification.show {
    opacity: 1;
}

.cart {
    max-width: 68.75rem;
    margin: 0 auto;
    margin-top: 4.375rem;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

    .cart-container {
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 .3125rem .9375rem 0 rgba(56, 56, 56, 0.37);
    }

    h2 {
        font: bold 1.1875rem $font-family;
        text-transform: uppercase;
        color: $color-bg-secondary;
        text-shadow: 0 0 .125rem $color-bg-secondary;
        margin: 3.125rem;
    }

    p {
        font: bold 1.125rem $font-family;
        margin-top: 3.125rem;
        margin-bottom: 1.25rem;
    }

    .cart-items {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 1.25rem;
            margin-right: 2.5rem;
            font: bold 1rem $font-family;
            text-align: end;

            button {
                background-color: brown;
                color: $color-bg-primary;
                margin-left: 25px;
                padding: 5px 10px;
                font: bold .75rem $font-family;
                cursor: pointer;
                border-radius: 0.2rem;
            }
        }
    }

    .checkout-btn {
        background-color: $color-bg-secondary;
        box-shadow: 0 5px 15px 0 rgba(56, 56, 56, 0.37);
        color: $color-bg-primary;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0.6rem 2rem;
        font: bold 14px $font-family;
        cursor: pointer;
        border-radius: 0.3rem;
        transition: 0.5s;

        &:hover {
            background-color: #6a4bf1;
        }
    }
}

/* Estilos para el popup */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s;
    text-align: center;

    .popup {
        background-color: #fff;
        padding: 25px;
        border-radius: 8px;

        h3 {
            font: bold 1.25rem $font-family;
            color: #6a4bf1;
            margin-bottom: 20px;
        }

        .purchase-info {
            font: bold 14px $font-family;

            p {
                margin: 20px;
                font: bold 16px $font-family;
            }

            ul {
                margin-bottom: .625rem;
                text-align: end;
            }
        }

        button {
            background-color: $color-bg-secondary;
            box-shadow: 0 5px 15px 0 rgba(56, 56, 56, 0.37);
            color: $color-bg-primary;
            margin-top: 20px;
            padding: 0.6rem 2rem;
            font: bold 14px $font-family;
            cursor: pointer;
            border-radius: 0.3rem;
            transition: 0.5s;

            &:hover {
                background-color: #6a4bf1;
            }
        }
    }

}

#popup.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.products {
    max-width: 68.75rem;
    margin: 0 auto;
    text-align: center;

    h2 {
        font: bold 1.5em $font-family;
        color: $color-bg-secondary;
        text-transform: uppercase;
        text-shadow: 0 0 .125rem $color-bg-secondary;
        padding: 3.125rem 0;
    }

    .filter {
        margin-bottom: 2.5rem;

        .filter-btn {
            display: inline-block;
            margin-right: .625rem;
            padding: .3125rem .625rem;
            background-color: #dddddd;
            border-radius: .25rem;
            font-weight: bold;
            cursor: pointer;
            font: bold 0.9em $font-family;

            &.active {
                color: $color-bg-primary;
                background-color: #6a4bf1;
            }
        }
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
        grid-gap: 1.25rem;

        .product {
            padding: 1.25rem;
            background: #FFFFFF;
            border-radius: .3125rem;
            text-shadow: 0 0 .125rem $color-bg-secondary;
            box-shadow: 0 .3125rem .9375rem 0 rgba(56, 56, 56, 0.37);
            transition: transform 0.3s ease;
            margin-bottom: 20px;

            &:hover {
                transform: scale(1.04);
            }

            .custom-button {
                background-color: $color-bg-secondary;
                box-shadow: 0 5px 15px 0 rgba(56, 56, 56, 0.37);
                color: $color-bg-primary;
                padding: 0.6rem 2rem;
                margin: 25px 0 20px 0;
                font: bold 14px $font-family;
                cursor: pointer;
                border-radius: 0.3rem;
                transition: 0.5s;

                &:hover {
                    background-color: #6a4bf1;
                }
            }

            img {
                width: 8.125rem;
                margin: 1.25rem;
            }
        }
    }
}