@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: $color-bg-primary;
}

main {
    background-color: $color-bg-secondary;
}